.checkout-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .checkout-items-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        // .header {
        // }
    }

    // .total-price {
    //     align-self: ;
    // }
}