// .signin-signup {
//     display: flex;
//     flex-flow: row nowrap;
//     width: 800px;
    
// }

.sign-up-form-container {
    display: flex;
    flex-direction: column;
    width: 430px;
    margin: auto;

    h2 {
        margin: 10px 0;
    }

}