.authentication-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 70px;
}
/* small screens */
@media all and (max-width: 500px) {
    .authentication-container {
        display: flex;
        flex-flow: column wrap;
        row-gap: 70px;
        margin: auto;
    }
}